:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --second-text-color:#FFFFFF;
    --logo-color: #000000;
    
    --background-dark: #2F303A;
    --background-white: #FFFFFF;
    --background-second: #F5F4FA;
    --background-accent: #2196F3;
}    
body {
    color: var(--primary-text-color);
    background-color: var(--background-white);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
ul {
    list-style: none;
}
/* логотип*/
.page {
    font-style: normal;
    background-color: var(--background-white);
}
a {
    text-decoration: none;    
}
.logo,
.logo-part {    
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;       
    letter-spacing: 0.03em;      
}
.logo {
    color: var(--logo-color);
}
.logo-part {
    color: var(--accent-color);    
}
/*навигация*/
.site-nav,
.auth-nav { 
    font-style: normal;
    font-weight: 500;    
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav,
.link {
    color: var(--title-text-color);
}
.current {
    color: var(--accent-color);
}

.site-nav :hover,
.site-nav :focus {    
    color: var(--accent-color);
}


.auth-nav .link {
    color: var(--primary-text-color);    
}
.auth-nav :hover,
.auth-nav :focus {
    color: var(--accent-color);
}
/*hero*/
.hero {
    background-color: var(--background-dark);
}
.hero-title {
    color: var(--second-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.rezerv {
    cursor: pointer;
    color: var(--second-text-color);
    background-color: var(--background-accent);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;   
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
/*skills*/
.hide {
    visibility: hidden;
}
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.skills-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.skills-text {    
    line-height: 1.71;
}

/*work*/

/*comand*/
.comand {
    background-color: var(--background-second);
}
.comand-link {
    background-color: var(--background-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.comand-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.comand-text {
    font-size: 16px;
    line-height: 1.19;   
    text-align: center;
}
/*portfolio*/
.portfolio {
    background-color: var(--background-white);
}

.button {
    cursor: pointer;
    color: var(--title-text-color);
    background: var(--background-second);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;   
    text-align: center;
}

.button:hover,
.button:focus {
    color: var(--second-text-color);
    background: var(--background-accent);
}

.card-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;  
    letter-spacing: 0.06em;
}
.card-text {
    font-size: 16px;
    line-height: 1.88;
}

/*футер*/
.page-end {
    text-decoration: none;
    background-color: var(--background-dark);
}
.logotype {    
    color: var(--second-text-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.contacts,
.contact-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}
.contacts :hover,
.contacts :focus {
    color: var(--accent-color)
}
.contacts-address .contact-link {
    color: var(--second-text-color);
    line-height: 1.71;
}
.contacts-address :hover,
.contacts-address :focus {
    color: var(--accent-color)
}